body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
	background-color: #F2F2F2;
	text-transform: uppercase;
}


p  {
	font-size: 14px;
	line-height: 24px;
}
a {
	text-decoration: none;
}
.center-conteiner {
	display: block;
	width: 1200px;
	margin: auto;
	background: #FFFFFF;
	height: auto;
	box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.2);
}

.main-header {
	position: relative;
	background-color: #FFFFFF;
}
.site-navigation {
}

.main-menu	{
	margin: 0;
	padding: 0;
	display: flex;	
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	height: 57px;
	padding-left: 71px;
	padding-right: 71px;
}
.menu-item  {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	width: 22.7272727273%;
border: 1px black solid;
}

.right-side {
	text-align: right;
}
.right-side:last-child{
	text-align: right;

}

.menu-item  > .current-navigation,
.menu-item  > .current-navigation:hover,
.menu-item  > .current-navigation:focus,
.menu-item  > .current-navigation:active{
	text-decoration: none;
	color: #756357;
}

.menu-item  a{
	text-decoration: none;
	color: #000000;
}

.menu-item  a:hover,
.menu-item  a:focus {
	color: #81b3d2;
}
.menu-item  a:active {
	color: #cacaca;
}

.logo-link {
	text-decoration: none;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
}

.main-banner {
	display: block;
	height: 510px;
	border: none;
	background: url(../img/background-photo.png) no-repeat top; 
}

.index-banner  {
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-top: 76px;
}
.main-info  {
	text-align: center;
}	

.info-text p{
	margin: 0;
}
.info-title  {
	margin: 0;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	margin-top: 60px;
	margin-bottom: 32px;
	margin-right: auto;
	margin-left: auto;
	max-width: 440px;
}

.form-text {
	text-align: center;
}
.form-text p{
	margin: 0;
	margin-bottom: 47px;
}
.form-text-title  {
	margin: 0;
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	margin-top: 60px;
	margin-bottom: 25px;	
}


.register-form  {
	margin: 0;	
	max-width: 458px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 75px;
	background-color: #FFFFFF;
	padding: 55px;	
}
.form-title  {
	margin: 0;
	display: block;
	min-width: 568px;
	color: #FFFFFF;
	border: none;
	background-color: #766357;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
}

.form-title:hover,
.form-title:focus {
	background-color: #604E44;
}
.form-title:active {
	background-color: #503E32;
	color: #918A84;
}

.register-form-field {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: nowrap;
	margin: 0;
	font-weight: bold;	
	padding-bottom: 30px;
}

.register-form-field label{
	margin-right: auto;
}
.date{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	min-width: 315px;
	min-height: 38px;
	background-color: #f2f2f2;
	border: none;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 14px;
	}
.date:hover{
	background-color: #EBEBEB;
}
.date:focus {
	background-color: #FFFFFF;
	border: 2px solid #E5E5E5;
}
	
.calendar{
	margin: 0;
	padding: 0;
	border: none;
	width: 38px;
	height: 38px;
	background: url(../img/calendar.svg) no-repeat center;
	background-color: #f2f2f2;
	vertical-align: bottom;	
	margin-left: -4px;
}
.calendar svg{
	fill: #a9a9a9;
}
.calendar svg:hover,
.calendar svg:focus{
	fill: #000000;
}
.calendar svg:active{
	fill: #81b3d2;
}

.kids{
	margin: 0;
	padding-left: 53px;
	padding-right: 27px;

}
.adults{
	margin: 0;
	padding-right: 40px;
}
.people-number {
	margin: 0;
	padding: 0;
	border: none;
	max-width: 46px;
	height: 38px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #f2f2f2;
	border: none;	
}
	
.plus  {
	margin: 0;
	padding: 0;
	border: none;
	width: 38px;
	height: 38px;
	background-color: #f2f2f2;
	color: #a9a9a9;
	font-size: 21px;
	font-weight: bold;
	vertical-align: bottom;
	margin-left: -4px;
}
.minus  {
	margin: 0;
	padding: 0;
    border: none;
	width: 38px;
	height: 38px;
	background-color: #f2f2f2;
	color: #a9a9a9;
	font-size: 21px;
	font-weight: bold;
	vertical-align: bottom;
	margin-right: -4px;
}

.plus:hover,
.plus:focus{
	color: #000000;
}
.plus:active{
	color: #81b3d2;
}
.minus:hover,
.minus:focus{
	color: #000000;
}
.minus:active{
	color: #81b3d2;
}

::-webkit-input-placeholder {color:#000000;}
::-moz-placeholder          {color:#000000;}/* Firefox 19+ */
:-moz-placeholder           {color:#000000;}/* Firefox 18- */
:-ms-input-placeholder      {color:#000000;}


.index-button  {
	display: block;
	color: #FFFFFF;
	background-color: #80B3D2;
	border: none;
	width: 458px;
	height: 58px;
	font-size: 21px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	margin-right: auto;
	margin-left: auto;
	margin-top: 24px;
}	

.index-button:hover,
.index-button:focus {
	background-color: #669EBF;
}
.index-button:active  {
	background-color: #5596BE;
	color: #94B9D3;
}
.main-footer  {
	background-color: #FFFFFF;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding-top: 36px;
	padding-bottom: 36px;
	border: 1px black solid;
}

.hashtag  {
	min-width: 400px;
	font-size: 21px;
	font-weight: bold;
}
.social  ul{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.social-icons  {
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-right: 6px;
}

.social-icons:last-child {
	margin-right: 0;
}
.social-button {
	display: block;
	width: 46px;
	height: 48px;
}
.twitter {
	background: url(../img/twitter.svg) no-repeat center;
	background-color: #80B3D2;
    
}
.facebook {
	background: url(../img/fb-icon.svg) no-repeat center;
	background-color: #80B3D2;
    
}
.youtube {
	background: url(../img/youtube.svg) no-repeat center;
	background-color: #80B3D2;
    
}
.social-button:hover,
.social-button:focus {
	background-color: #669EBF;
	
}
.social-button:active  {
	background-color: #5596BE;	
}


.visually-hidden{
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}


.developer  {
	min-width: 400px;
	font-size: 14px;
}
.developer-text {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.developer-text span{
	margin-right: 6px;
	padding: 0;

}
.academy-logo {
	text-decoration: none;
	color: #000000;	
}

.academy-logo:hover,
.academy-logo:focus{
	fill: #81b3d2;
	color: #81b3d2;
}
.academy-logo:active{
	fill: #cacaca;
	color: #cacaca;
}
/* Styles for inner.html*/

.hotels  {
	background-color: #FFFFFF;	
}
.hotels-list  {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.hotel-item  {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: nowrap;
	list-style-type: none;
	border-bottom: 	1px solid #E5E5E5;
	padding-top: 30px;
	padding-bottom: 26px;
	padding-left: 72px;
	padding-right: 72px;
}


.hotel-img  {
	padding-right: 30px;
}
.hotel-item  h2{
	margin: 0;
	padding: 0;
	font-size: 21px;
	font-weight: bold;
	line-height: 17px;
	margin-bottom: 15px;
}
.hotel-name {
	text-decoration: none;
	color: #000000;	
}

.hotel-name:hover,
.hotel-name:focus{
	color: #81b3d2;
}
.academy-logo a:active{
	color: #cacaca;
}
.hotel-text {
	display: inline-block;
	
}
.hotel-info{
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
	font-size: 14px;
}	
.hotel-type {
	display: inline-block;
	min-width: 110px;
	padding: 0;	
}

.hotel-price{
	display: inline-block;
	padding: 0;
	margin-left: 6px;
	
}

.hotel-buttons {
	font-size: 14px;
	font-weight: bold;
	line-height: 11px;
}

.button-info {
	display: inline-block;
	background-color: #80B3D2;
	border: none;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 17px;
	padding-left: 17px;
	text-align: center;
    color: #FFFFFF;
}
.button-info:hover,
.button-info:focus{
	background-color: #669EBF;
}
.button-info a:active{
	background-color: #5596BE;
	color: #94B9D3;
}
.button-booking	{
	margin: 0;
	padding: 0;
	display: inline-block;
	background-color: #766357;
	border: none;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 17px;
	padding-left: 17px;
	text-align: center;
    color: #FFFFFF;
}

.button-booking:hover,
.button-booking:focus {
	background-color: #604E44;
}
.button-booking:active {
	background-color: #503E32;
	color: #918A84;
}
.rating {
	margin-left: auto;

}
.rating-info {
	font-size: 14px;
	line-height: 10px;
	background-color: #F2F2F2;
	text-align: center;
	padding: 8px;
}
.stars {
	margin: 0;
	padding: 0;
	line-height: 17px;
	margin-bottom: 46px;
}
.stars ul{
	margin: 0;
	padding: 0;
}
.one-star-icon{
	list-style: none;
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url(../img/star.svg) no-repeat center;
}
