body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
	background-color: #F2F2F2;
	text-transform: uppercase;
}

p  {
	font-size: 14px;
}
a {
	text-decoration: none;
}


.main-header {
	width: 1200px;
	height: 56px;
	background-color: #FFFFFF;
}
.site-navigation {
	width: 1200px;
	display: block;
	position: absolute;
	top: 0px;
}
.main-menu {

}
.menu-item  {
	display: inline-block;
	width: 24%;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	margin-top: auto;
	margin-bottom: auto;
}

.menu-item  a{
	text-decoration: none;
	color: #000000;
}
.menu-item  a:hover,
.menu-item  a:focus{
	color: #81b3d2;
}
.menu-item  a:active{
	color: #cacaca;
}

.logo-link {
	text-decoration: none;
}
.logo{
	margin-right: auto;
	margin-left: auto;
}
.container {
	width: 1200px;
	background-color: #FFFFFF;
	
}
.main-banner {
	display: block;
	width: 100%;
	height: 510px;
	border: none;
	background: url(../img/polygon.png) no-repeat bottom,
				url(../img/background-photo.png) no-repeat top; 
}

.index-banner  {
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-top: 76px;
}
.main-info  {
	text-align: center;
}	

.info-text  {
}
.info-title  {
	font-size: 21px;
	font-weight: bold;
	padding-top: 60px;
	padding-bottom: 40px;;
}
.interest-form  {
	
}
.form-text  {
	text-align: center;
	padding-bottom: 140px;	
}
.form-text-title  {
	font-size: 30px;
	font-weight: bold;
	padding-top: 60px;
	padding-bottom: 40px;	
}


.register-form  {	
	width: 568px;
	height: auto;
	margin-top: -86px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;	
}
.form-title  {
	display: block;
	width: 568px;
	color: #FFFFFF;
	background-color: #766357;
	font-size: 21px;
	text-align: center;
	padding-top: 36px;
	padding-bottom: 36px;
	margin-bottom: 54px;
}

.form-title:hover,
.form-title:focus {
	background-color: #604E44;
}
.form-title:active {
	background-color: #503E32;
	color: #918A84;
}

.register-form-field {
	width: 458px;
	font-size: 14px;
	font-weight: bold;	
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 40px;
}
.date{
	width: 330px;
	height: 38px;
	background-color: #f2f2f2;
	border: none;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 14px;
	}
.date:hover{
	background-color: #EBEBEB;
}
.date:focus {
	background-color: #FFFFFF;
	border: 2px solid #E5E5E5;
}
	
.calendar{
	margin-left: -30px;
}
.people-number {
	width: 114px;
	height: 38px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #f2f2f2;
	border: none;	
}	
.plus  {
	border: none;
}
.minus  {
    border: none;
}
.index-button  {
	display: block;
	color: #FFFFFF;
	background-color: #80B3D2;
	border: none;
	width: 458px;
	height: 59px;
	font-size: 21px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	margin-right: auto;
	margin-left: auto;
}	

.index-button:hover,
.index-button:focus {
	background-color: #669EBF;
}
.index-button:active  {
	background-color: #5596BE;
	color: #94B9D3;
}
.main-footer  {
	clear: both;
	width: 1200px;
	background-color: #FFFFFF;
	text-align: center;
}

.hashtag  {
	float: left;
	font-size: 16px;
	font-weight: bold;
	
}
.social  {
	display: inline-block;
	width: auto;
}
.social-icons  {
	display: inline-block;
	margin-right: 6px;
}
.social-button{
	display: block;
	background-color: #80B3D2;
	width: 46px;
	height: 46px;
}
.social-button:hover,
.social-button:focus {
	background-color: #669EBF;
	
}
.social-button:active  {
	background-color: #5596BE;
		
}


.visually-hidden{
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}


.developer  {
	display: inline-block;
	float: right;
	font-size: 11px;	
}
.academy-logo {
	text-decoration: none;
	color: #000000;	
}

.academy-logo  a:hover,
.academy-logo  a:focus{
	text-decoration: none;
	color: #81b3d2;
}
.academy-logo a:active{
	text-decoration: none;
	color: #cacaca;
}
/* Styles for inner.html*/

.hotels  {
	background-color: #FFFFFF;	
}
.hotels-list  {
}

.hotel-item  {
	display: block;
	list-style-type: none;
	width: auto;
	height: 150px;
	border-bottom: 	1px solid #E5E5E5;
	padding-left: 72px;
	padding-right: 72px;
}

.hotel-img  {
	float: left;
	padding-right: 30px;
}

.hotel-name {
	text-decoration: none;
	color: #000000;	
	font-size: 21px;
	font-weight: bold;
}

.hotel-name:hover,
.hotel-name:focus{
	color: #81b3d2;
}
.academy-logo a:active{
	color: #cacaca;
}
	
.hotel-type {
	
}

.hotel-buttons {
	height: 27px;	
}

.button-info {
	display: inline-block;
	width: 110px;
	height: 27px;
	color: #FFFFFF;
	background-color: #80B3D2;
	border: none;
	font-weight: bold;
	text-align: center;
}
.button-info:hover,
.button-info:focus{
	background-color: #669EBF;
}
.button-info a:active{
	background-color: #5596BE;
	color: #94B9D3;
}
.button-booking	{
	display: inline-block;
	width: 142px;
	height: 27px;
	color: #FFFFFF;
	background-color: #766357;
	border: none;
	font-weight: bold;
	text-align: center;
	margin-left: 6px;
}

.button-booking:hover,
.button-booking:focus {
	background-color: #604E44;
}
.button-booking:active {
	background-color: #503E32;
	color: #918A84;
}
.rating {
	width: 110px;
	height: 27px;
	float: right;
	background-color: #F2F2F2;
	text-align: center;
}